# 02 - Data from the Web

## Assignment
1. Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the [details page](https://www.topuniversities.com/universities/ecole-polytechnique-fédérale-de-lausanne-epfl).
Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

Plot your data using bar charts and describe briefly what you observed.

2. Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)). Repeat the analysis of the previous point and discuss briefly what you observed.

3. Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

4. Find useful insights in the data by performing an exploratory analysis. Can you find a strong correlation between any pair of variables in the dataset you just created? Example: when a university is strong in its international dimension, can you observe a consistency both for students and faculty members?

5. Can you find the best university taking in consideration both rankings? Explain your approach.

Hints:
- Keep your Notebook clean and don't print the verbose output of the requests if this does not add useful information for the reader.
- In case of tie, use the order defined in the webpage.

## 1. World University Rankings by TopUniversities

---

We will focus on data scraping from the [TopUniversities 2018 rankings](https://www.topuniversities.com/university-rankings/world-university-rankings/2018), as well as asnwering the assignment questions by performing simple data analysis. The structure of this chapter follows the assignment outline:

1. Data scraping
2. Ranking: faculty members, students and internationalization
3. Ranking: regional and national results


### Libraries utilized

We will use the BeautifulSoup along with Pandas and standard Python utilities for performing the scraping and data analysis.

In [222]:
# importing the utils for Web scraping
import requests
from bs4 import BeautifulSoup

# importing python and data utils
import pandas as pd
import numpy as np
import json
%matplotlib inline
import matplotlib.pyplot as plt

### Swiss army knife for data scraping

[Postman](https://www.getpostman.com/) is utilized outside Python to get more sense about the Web jungle we are trying to harvest our data from. We have used both Interceptor and the application itself to make sense of incoming traffic. 

We have also relied on traffic observations in Chrome Development Tools (*which can be accessed in Chrome browsers on Windows platform by pressing F12*).

### 1.1 Data scraping

The first step in our data scraping process was to get acquainted with the website itself. We have turned on the Interceptor for the traffic and the application itself, then loaded the website and observed the requests. 

#### Making our life easier: Postman filters

It is useful to filter out results of requests sent to the Website of interest. In modern websites it is common to have many 3rd party APIs which would make it somewhat more difficult to find the requests of interest. Additionally, trafic from other tabs in browser (if open) will appear, so it is additionally useful to display only what is the focus of our search. Such benefits are visible in the practical example bellow:

<table width="70%">
  <tr>
    <th style="text-align:center">Requests without any filters</th>
    <th style="text-align:center">After filtering results from *www.topuniversities.com* only</th> 
  </tr>
  <tr>
    <td>![](images/postman0.png)</td>
    <td style="vertical-align:top">![](images/postman1.png)</td> 
  </tr>
</table>

From the vast list of various requests, we have localized what seems to be important for the given task, and the requests for resources for the TopUniversity rankings. By analyzing the requests, we can see one **GET** request which obtains a textual file:

[https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508597583828](https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508597583828)

By analyzing the file, it turns out to be a very useful JSON! All the data needed for scraping at this level is present here, most notably the ranking and the URL towards more information. It correlates to the same information we can directly see from the Chrome Developer Tools:

![](images/chrome0.png)

#####  Design choice
As in the image above can be seen, the HTML data is well organized in the tables, with appropriate classes which designate the content of the cell. One approach would be to use `BeautifulSoup` and parse the HTML of the page. Since we have the data in more concise format (JSON) we decided to process the textual representation. Since only the representation and intermediate steps differ, and results are the same, this is a choice we have made. 

Nevertheless, further steps will have to rely on parsing the HTML and DOM of the subsequent university links with further details (since no equivalent JSON is obtained), so both approaches are showcased.


#### Implementing the scraping procedure

We will extract the before found JSON file and use it as a baseline for scraping this Website. We send a GET request and process the file as JSON.

In [223]:
## TU = TopUniversities
TU_path = 'https://www.topuniversities.com'
base_json_path = '/sites/default/files/qs-rankings-data/357051.txt?_=1508597583828'

req = requests.get(TU_path+base_json_path)

TU_json = req.json()

We convert the JSON file to Pandas `DataFrame` to enable easier exploration and utilization of the file. We are interested in the **data** section of our JSON file, and we take the first 200 top ranking universities in the list. 

Notably, some universities share the same ranking (tie). Per assignment at this point we will take 200 best ranking universities for our analysis, and not the universities until the rank 200.

In [224]:
TU_df = pd.DataFrame.from_dict(TU_json['data']).head(200)

We can observe that we did not need any additional parsing which would add both to code complexity, potential computational overhead in bigger datasets, as well as algorithmic complexity if the website HTML code is not tidy (which is not the case here). The `DataFrame` carries all the information we need for now, of which the region, country, rank, title and url play the significant role in the task.

In [225]:
TU_df.head(2)

,cc,core_id,country,guide,logo,nid,rank_display,region,score,stars,title,url
0,US,410,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294850,1,North America,100,6,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...
1,US,573,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297282,2,North America,98.7,5,Stanford University,/universities/stanford-university

#### 1.1.1 Extracting the information for each University

Some information such as University name or rank is available immediately, while for detailed information we need to follow the subsequent link provided in the **url** field. Unfortunately, as previously mentioned, we don't have information packed in JSON format this time. We use HTML parsing provided by `BeautifulSoup` to obtain all the missing data. We are in luck since the HTML is well organized, with appropriate classes assigned to `div`s containing needed pieces of information.

We iterate through the previously obtained `DataFrame` and scrape and collect the necessary data, and append it to the existing `DataFrame`.

#### Note on undefined values

At least one of the universities has missing data and we need to handle such cases. If the number of such cases is small enough, we could impute the values manually, by consulting the appropriate sources, thus keeping the consistency of the rankings. If we don't have all the data for analysis, we would have to discard such Universities or come up with a methodology for mining up missing data on larger scale.

We choose to be consistent and we will print out the universities which have some missing values and will try to fill in the missing values.

In [226]:
# A helper function to get an number (integer) from the div text
def div2num(div):
    return int(div.find('div', class_='number').text.split()[0].replace(',',''))

In [227]:
for ind, row in TU_df.iterrows():
    # getting the detailed page of the given university
    # relative link to the page is given in the url field of the dataframe
    uni_details = requests.get(TU_path+row['url'])
    
    # get the HTML of the detailed university page and add it to the soup
    soup = BeautifulSoup(uni_details.text, 'html.parser')
    
    # get the name of the university from the DF
    uni_name = row['title']
    
    # get the number of faculty members from the detailed page and append to DF
    faculty_num = soup.find('div', class_='total faculty')
    try:
        # we parse the div text and append it to the DataFrame
        TU_df.loc[ind, 'Total faculty members'] = div2num(faculty_num)
    except:
        # print out the message in order to try to impute the data
        print('Undefined total faculty members for: '+uni_name)
    
    # similar procedure for other required data points
    students_num = soup.find('div', class_='total student')
    try:
        TU_df.loc[ind, 'Total students'] = div2num(students_num)
    except:
        print('Undefined total students for: '+uni_name)
    
    intl_faculty_num = soup.find('div', class_='inter faculty')
    try:
        TU_df.loc[ind, 'International faculty members'] = div2num(intl_faculty_num)
    except:
        print('Undefined international faculty members for: '+uni_name)
    
    intl_students_num = soup.find('div', class_='total inter')
    try:
        TU_df.loc[ind, 'International students'] = div2num(intl_students_num)
    except:
        print('Undefined international students for: '+uni_name)

Undefined total faculty members for: New York University (NYU)
Undefined total students for: New York University (NYU)
Undefined international faculty members for: New York University (NYU)
Undefined international students for: New York University (NYU)
Undefined international faculty members for: Indian Institute of Science (IISc) Bangalore

#### Imputing undefined values

We can see that the New York University (NYU) has information that is completely missing, while Indian Institute of Science (IISc) Bangalore has one missing value. Considering the scope of missing values, they will be manually set using the following sources:

- NYU: https://www.nyu.edu/about/news-publications/nyu-at-a-glance.html, https://www.nyu.edu/admissions/undergraduate-admissions/nyu-facts.html
- IISc: http://www.iisc.ac.in/iisc-in-numbers/#ffs-tabbed-12

This is potentially troubling, since there is no information about the actual data collection for the ranking, methodology or actual date which is available for a confident selection of the figures missing. Frequently, the websites also omit the precise dates. Comparing the potential noise which would be added to the fact that we would discard 2 top 200 universities, the decision is to take the data and impute it, while being aware that it might induce some error in methodology. It is a tradeoff between statistical error in imputed data and the error which would occur in the further aggregate analysis.

Therefore the NYU data is following:
- total faculty members: 7861 (Fall 2015)
- total students: 58419 (Fall 2015)
- international faculty members: 619 (September 2017)
- international students: 26% == 15189 (Fall 2015)

Unfortunately, the data of international faculty members is not available in public records online for IISc, therefore it will be designated as 0. The unavailability might rise from the fact that the figure is rather low (https://scroll.in/article/811696/there-are-no-indian-universities-in-the-worlds-top-250-list-heres-how-javadekar-can-change-that), so it would not be positive for faculty to publicize such information. 

*If time permitted a good practice would be to contact the institution directly for the actual quote in both cases*

In [228]:
TU_df.loc[TU_df.title=='New York University (NYU)','Total faculty members'] = 7861
TU_df.loc[TU_df.title=='New York University (NYU)','Total students'] = 58419
TU_df.loc[TU_df.title=='New York University (NYU)','International faculty members'] = 619
TU_df.loc[TU_df.title=='New York University (NYU)','International students'] = 15189


TU_df = TU_df.fillna(0)

#### Pruning the data in DataFrame

We have several pieces of information that are redundant at this point, so we will remove such columns from the DataFrame for a better overview. We can see bellow that *cc*, *rank_display*, *stars*, *core_id*, *guide*, *logo*, *nid* and *url* are present, but redundant in the following analysis.

In [229]:
TU_df.head(1)

,cc,core_id,country,guide,logo,nid,rank_display,region,score,stars,title,url,Total faculty members,Total students,International faculty members,International students
0,US,410,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294850,1,North America,100,6,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,2982.0,11067.0,1679.0,3717.0

In [230]:
TU_df.drop(['cc', 'stars', 'core_id', 'guide', 'logo', 'nid', 'url'], axis=1, inplace=True)
TU_df.head(1)

,country,rank_display,region,score,title,Total faculty members,Total students,International faculty members,International students
0,United States,1,North America,100,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0

#### We have our DataFrame ready for further analysis!
---

### 1.2 Ranking: faculty members, students and internationalization

In this section we answer the question: **Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?**

For easier analysis for (a) and (b) we will add the ratios to the existing DataFrame:

In [19]:
# ratio between faculty members and students
TU_df['Ratio faculty/students'] = TU_df['Total faculty members']/TU_df['Total students']

# ratio of international students
TU_df['Ratio intl/total students'] = TU_df['International students']/TU_df['Total students']

In [20]:
TU_df.head(1)

,country,rank_display,region,score,title,Total faculty members,Total students,International faculty members,International students,Ratio faculty/students,Ratio intl/total students
0,United States,1,North America,100,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0,0.26945,0.335863

We have prepared the data for our analysis! The results are obtained by sorting the `DataFrame` by appropriate criterion.

### Best university: (a) ratio between faculty members and students

In [21]:
TU_fac_stud_df = TU_df.sort_values('Ratio faculty/students', ascending=False)

#### Top 5 by ratio of faculty members and students:

In [22]:
TU_fac_stud_df.head(5)

,country,rank_display,region,score,title,Total faculty members,Total students,International faculty members,International students,Ratio faculty/students,Ratio intl/total students
3,United States,4,North America,97.7,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,0.422616,0.286918
15,United States,16,North America,90.4,Yale University,4940.0,12402.0,1708.0,2469.0,0.398323,0.199081
5,United Kingdom,6,Europe,95.3,University of Oxford,6750.0,19720.0,2964.0,7353.0,0.342292,0.372870
4,United Kingdom,5,Europe,95.6,University of Cambridge,5490.0,18770.0,2278.0,6699.0,0.292488,0.356899
16,United States,17,North America,89.8,Johns Hopkins University,4462.0,16146.0,1061.0,4105.0,0.276353,0.254243

### Best university: (b) ratio of international students

In [23]:
TU_intl_df = TU_df.sort_values('Ratio intl/total students', ascending=False)

#### Top 5 by ratio of international students

In [24]:
TU_intl_df.head(5)

,country,rank_display,region,score,title,Total faculty members,Total students,International faculty members,International students,Ratio faculty/students,Ratio intl/total students
34,United Kingdom,35,Europe,81.8,London School of Economics and Political Scien...,1088.0,9760.0,687.0,6748.0,0.111475,0.691393
11,Switzerland,12,Europe,91.2,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695.0,10343.0,1300.0,5896.0,0.163879,0.570047
7,United Kingdom,8,Europe,93.7,Imperial College London,3930.0,16090.0,2071.0,8746.0,0.244251,0.543567
198,Netherlands,200,Europe,47.9,Maastricht University,1277.0,16385.0,502.0,8234.0,0.077937,0.502533
47,United States,=47,North America,78.6,Carnegie Mellon University,1342.0,13356.0,425.0,6385.0,0.100479,0.478062

------
### 1.3 Ranking: regional and national results

In this section we use the results obtained in **1.2** and aggregate them, separately, by country and region, thus providing answer to the question 2:

*Answer the previous question aggregating the data by (c) country and (d) region.*

The `DataFrame` contains all the datapoints we need for answering the questions, the only procedure we need to undertake is aggregation of data. We need to remove the calculated ratios per faculty since the summation would not result in proper result in this case (we would need to normalize the result otherwise). We can further remove the score and name of the university **manually**, since it does not play a role in the dataset, but since it is a variable on which we could not perform aggregation such variables would anyway be ignored by *Pandas*.

In [25]:
TU_aggregate_df = TU_df.copy()
TU_aggregate_df.drop(['Ratio faculty/students', 'Ratio intl/total students'], axis=1, inplace=True)
TU_aggregate_df.head(1)

,country,rank_display,region,score,title,Total faculty members,Total students,International faculty members,International students
0,United States,1,North America,100,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0

---
#### Aggregating data by country (c)

We will group the data by the country and then sum the values of such aggregate to produce desired data.

In [26]:
# we can compose multiple functions to reduce code clutter
TU_country_df = TU_aggregate_df.groupby(['country']).sum()
TU_country_df.head(2)

,Total faculty members,Total students,International faculty members,International students
country,,,,
Argentina,16421.0,122301.0,3165.0,27109.0
Australia,22034.0,301994.0,11382.0,106359.0

As done previously, desired ratios are calculated and added to the `DataFrame`:

In [27]:
TU_country_df['Ratio faculty/students'] = TU_country_df['Total faculty members']/TU_country_df['Total students']
TU_country_df['Ratio intl/total students'] = TU_country_df['International students']/TU_country_df['Total students']

#### Top 5 countries with Universities with highest ratio of faculty to students

In [28]:
TU_country_df.sort_values('Ratio faculty/students', ascending=False).head(5)

,Total faculty members,Total students,International faculty members,International students,Ratio faculty/students,Ratio intl/total students
country,,,,,,
Russia,6709.0,30233.0,373.0,5098.0,0.221910,0.168624
Denmark,11916.0,67223.0,3904.0,9543.0,0.177261,0.141960
Saudi Arabia,1062.0,6040.0,665.0,989.0,0.175828,0.163742
Singapore,9444.0,58466.0,6079.0,16168.0,0.161530,0.276537
Malaysia,2755.0,17902.0,655.0,3476.0,0.153893,0.194168

#### Top 5 countries with Universities with highest ratio of international students

In [29]:
TU_country_df.sort_values('Ratio intl/total students', ascending=False).head(5)

,Total faculty members,Total students,International faculty members,International students,Ratio faculty/students,Ratio intl/total students
country,,,,,,
Australia,22034.0,301994.0,11382.0,106359.0,0.072962,0.352189
United Kingdom,79934.0,583621.0,30216.0,199426.0,0.136962,0.341705
Hong Kong,10166.0,78838.0,6296.0,24499.0,0.128948,0.310751
Austria,4117.0,63446.0,1572.0,19667.0,0.064890,0.309980
Switzerland,15323.0,109112.0,9208.0,32995.0,0.140434,0.302396

---
#### Aggregating data by region (d)

We perform the same procedure with grouping by the region instead of country.

In [30]:
TU_region_df = TU_aggregate_df.groupby(['region']).sum()
TU_region_df.head(2)

,Total faculty members,Total students,International faculty members,International students
region,,,,
Africa,1733.0,19593.0,379.0,3325.0
Asia,106734.0,807003.0,25462.0,110100.0

We calculate the desired ratios by the region and then present the top 5 regions by each criterion.

In [31]:
TU_region_df['Ratio faculty/students'] = TU_region_df['Total faculty members']/TU_region_df['Total students']
TU_region_df['Ratio intl/total students'] = TU_region_df['International students']/TU_region_df['Total students']

#### Top 5 regions with Universities with the highest faculty to student ratio

In [32]:
TU_region_df.sort_values(['Ratio faculty/students'], ascending=False).head(5)

,Total faculty members,Total students,International faculty members,International students,Ratio faculty/students,Ratio intl/total students
region,,,,,,
Asia,106734.0,807003.0,25462.0,110100.0,0.132260,0.136431
North America,189984.0,1604772.0,44455.0,307305.0,0.118387,0.191494
Europe,218358.0,1957251.0,67598.0,449364.0,0.111564,0.229589
Latin America,45382.0,435750.0,5648.0,36871.0,0.104147,0.084615
Africa,1733.0,19593.0,379.0,3325.0,0.088450,0.169703

#### Top 5 regions with Universities with the highest ratio of international students

In [33]:
TU_region_df.sort_values(['Ratio intl/total students'], ascending=False).head(5)

,Total faculty members,Total students,International faculty members,International students,Ratio faculty/students,Ratio intl/total students
region,,,,,,
Oceania,25347.0,350167.0,12786.0,118798.0,0.072385,0.339261
Europe,218358.0,1957251.0,67598.0,449364.0,0.111564,0.229589
North America,189984.0,1604772.0,44455.0,307305.0,0.118387,0.191494
Africa,1733.0,19593.0,379.0,3325.0,0.088450,0.169703
Asia,106734.0,807003.0,25462.0,110100.0,0.132260,0.136431

## 2. World University Rankings by TimesHigherEducation

In this chapter, we will scrape the data from [TimesHigherEducation ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking), as well as answering the assignment questions by performing simple data analysis.

Pandas options setting for a better view of the data

In [34]:
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)

### Analysis of the website to scrape

As in the case for task 1, we notice, using Interceptor Chrome app and Postman, that when accessing the main list url

http://timeshighereducation.com/world-university-rankings/2018/world-ranking 


another specific **GET** request is made to one of the server's REST API endpoints

https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json

which serves a file in JSON format that contains a data field with information about each university in the ranking.

#### Implementing the scrapping procedure

We begin by extracting the JSON file found previously with Interceptor and Postman and processing it as a JSON. In order to do so, we implement an utility function that sends a **GET** request to a server's API endpoint identified by the url.

The result is saved in a dictionary so that the http request is made only once per url.

In [35]:
json_data = {}
def get_json(url):
    if url not in json_data:
        r = requests.get(url)
        json_data[url] = r
    else:
        r = json_data[url]
        
    return r.json()

In [36]:
thedu_url = 'https://www.timeshighereducation.com'
thedu_json_url = '/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

json_data_thedu = get_json(thedu_url + thedu_json_url)

#### Analysis of the json object format

In [37]:
# fields of the entire json object
display(json_data_thedu.keys())
# one entry in the data field
display(json_data_thedu['data'][0])

dict_keys(['pillars', 'data', 'locations', 'subjects'])

{'aliases': 'University of Oxford',
 'location': 'United Kingdom',
 'member_level': '0',
 'name': 'University of Oxford',
 'nid': 468,
 'rank': '1',
 'rank_order': '10',
 'record_type': 'master_account',
 'scores_citations': '99.1',
 'scores_citations_rank': '15',
 'scores_industry_income': '63.7',
 'scores_industry_income_rank': '169',
 'scores_international_outlook': '95.0',
 'scores_international_outlook_rank': '24',
 'scores_overall': '94.3',
 'scores_overall_rank': '10',
 'scores_research': '99.5',
 'scores_research_rank': '1',
 'scores_teaching': '86.7',
 'scores_teaching_rank': '5',
 'stats_female_male_ratio': '46 : 54',
 'stats_number_students': '20,409',
 'stats_pc_intl_students': '38%',
 'stats_student_staff_ratio': '11.2',
 'subjects_offered': 'Archaeology,Art, Performing Arts & Design,Biological Sciences,Business & Management,Chemical Engineering,Chemistry,Civil Engineering,Computer Science,Economics & Econometrics,Electrical & Electronic Engineering,General Engineering,Geography,Geology, Environmental, Earth & Marine Sciences,History, Philosophy & Theology,Languages, Literatures and Linguistics,Law,Mathematics & Statistics,Mechanical & Aerospace Engineering,Medicine & Dentistry,Physics & Astronomy,Psychology',
 'url': '/world-university-rankings/university-oxford'}

The retrieved json object has 4 fields: data, subjects, locations and pillars out of which we are interested only in data. Specifically in the first 200 entries in the corresponding array because, again, we are focusing on the 200 best ranking universities and not the universities until rank 200.

#### Structure of data

We observe that the data field contains the name, location which is basically the country, number of students, ratio of international students and ratio of student to staff which is enough to infer all the fields that are asked in the asignment, except the region and number of international faculty members. Therefore we are not required to aditionally scrape the detailed page of the univerities.

Given that the region of a country cannot variate, for this field we will use external information, for example the dataframe from the previous task, to infer the region of an university. 

The number of international faculty members is not provided by the TimesHigherEducation, but we do not need it in our further analysis related to this task.

Observing the data field is a list of records, it makes sense to load it in a DataFrame for easier manipulation.

In [38]:
data_thedu = pd.DataFrame(json_data_thedu['data'])

In [39]:
data_thedu.head()

,aliases,location,member_level,name,nid,rank,rank_order,record_type,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,scores_overall,scores_overall_rank,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,63.7,169,95.0,24,94.3,10,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,51.5,260,93.0,35,93.2,20,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,92.6,51,59.7,322,93.0,30,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,60.5,189,77.6,162,93.0,40,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,88.4,63,87.6,81,92.5,50,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...

In [40]:
data_thedu.columns

Index(['aliases', 'location', 'member_level', 'name', 'nid', 'rank',
       'rank_order', 'record_type', 'scores_citations',
       'scores_citations_rank', 'scores_industry_income',
       'scores_industry_income_rank', 'scores_international_outlook',
       'scores_international_outlook_rank', 'scores_overall',
       'scores_overall_rank', 'scores_research', 'scores_research_rank',
       'scores_teaching', 'scores_teaching_rank', 'stats_female_male_ratio',
       'stats_number_students', 'stats_pc_intl_students',
       'stats_student_staff_ratio', 'subjects_offered', 'url'],
      dtype='object')

#### Restructuring the data

As argued above, we will keep in the DataFrame only the columns that are relevant to our analysis:
- name
- rank
- location
- stats_number_students
- stats_pc_intl_students
- stats_student_staff_ratio

In [41]:
columns_to_drop = data_thedu.columns.difference(['name', 'rank','location', 'stats_number_students', 'stats_pc_intl_students', 'stats_student_staff_ratio'])
data_thedu = data_thedu.drop(columns_to_drop, axis=1)[0:200]

In [42]:
data_thedu.stats_pc_intl_students.head()

0    38%
1    35%
2    27%
3    22%
4    34%
Name: stats_pc_intl_students, dtype: object

The column stats_pc_intl_students representing the percentage of international students does not have a format that allows us do the operations necessary to infer the number of international students. 

We will create a function that will parse the string values of this column and transform them into a value from [0,1]

In [43]:
def percentage_to_ratio(value):
    # we slice the value up until the last character
    # then parse it as an int and divide it by 100 to obtain a value between 0 and 1
    return int(value[:-1])/100

In [44]:
data_thedu['stats_pc_intl_students'] = data_thedu['stats_pc_intl_students'].apply(percentage_to_ratio)
data_thedu.rename(columns={'stats_pc_intl_students':'stats_intl_students_ratio'}, inplace=True)

In [45]:
data_thedu.head()

,location,name,rank,stats_number_students,stats_intl_students_ratio,stats_student_staff_ratio
0,United Kingdom,University of Oxford,1,"20,409",0.38,11.2
1,United Kingdom,University of Cambridge,2,"18,389",0.35,10.9
2,United States,California Institute of Technology,=3,"2,209",0.27,6.5
3,United States,Stanford University,=3,"15,845",0.22,7.5
4,United States,Massachusetts Institute of Technology,5,"11,177",0.34,8.7

### Inferring data

We can now proceed to infer the number of international students and the number of faculty members

The number of international students can be calculated as the product between the number of students and the international students ratio

The number of faculty members can be calculated as the number of students divided by the student per staff ratio

#### Data types

In [46]:
data_thedu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
location                     200 non-null object
name                         200 non-null object
rank                         200 non-null object
stats_number_students        200 non-null object
stats_intl_students_ratio    200 non-null float64
stats_student_staff_ratio    200 non-null object
dtypes: float64(1), object(5)
memory usage: 9.5+ KB

As we can see, all the stats, except the transformed international students ratio, have the data type object.

For us to able to infer the new columns values, we will have to parse stats_number_students to int and stats_student_staff_ratio to float.

In [47]:
data_thedu['stats_number_students'] = data_thedu.stats_number_students.apply(lambda x: int(x.replace(',','')))
data_thedu['stats_student_staff_ratio'] = data_thedu.stats_student_staff_ratio.apply(lambda x: float(x))

We now compute the new columns as described above

In [48]:
data_thedu['number_international_students_inferred'] = data_thedu.stats_number_students * data_thedu.stats_intl_students_ratio
data_thedu['number_faculty_members_inferred'] = data_thedu.stats_number_students / data_thedu.stats_student_staff_ratio

Having only two decimals precision for the ratio, the resulting values for the inferred columns are not all integers but we choose to leave them as that in order to maintain the accuracy of our data.

One thing left to do is to transform the student per staff ratio into staff per student ratio as per assignment.

In [49]:
data_thedu['stats_student_staff_ratio'] = 1 / data_thedu.stats_student_staff_ratio
data_thedu.rename(columns={'stats_student_staff_ratio':'stats_staff_student_ratio'}, inplace=True)

In [50]:
data_thedu.head()

,location,name,rank,stats_number_students,stats_intl_students_ratio,stats_staff_student_ratio,number_international_students_inferred,number_faculty_members_inferred
0,United Kingdom,University of Oxford,1,20409,0.38,0.089286,7755.42,1822.232143
1,United Kingdom,University of Cambridge,2,18389,0.35,0.091743,6436.15,1687.064220
2,United States,California Institute of Technology,=3,2209,0.27,0.153846,596.43,339.846154
3,United States,Stanford University,=3,15845,0.22,0.133333,3485.90,2112.666667
4,United States,Massachusetts Institute of Technology,5,11177,0.34,0.114943,3800.18,1284.712644

We have prepared the data for our analysis! The results are obtained by sorting the `DataFrame` by appropriate criterion.

### Best university: (a) ratio between faculty members and students

In [51]:
thedu_fac_stud_df = data_thedu.sort_values('stats_staff_student_ratio', ascending=False)

#### Top 5 by ratio of faculty members and students

In [52]:
thedu_fac_stud_df.head()

,location,name,rank,stats_number_students,stats_intl_students_ratio,stats_staff_student_ratio,number_international_students_inferred,number_faculty_members_inferred
105,United States,Vanderbilt University,=105,12011,0.13,0.303030,1561.43,3639.696970
109,Denmark,University of Copenhagen,=109,30395,0.14,0.243902,4255.30,7413.414634
153,United States,University of Rochester,=153,9636,0.29,0.232558,2794.44,2240.930233
11,United States,Yale University,12,12155,0.21,0.232558,2552.55,2826.744186
12,United States,Johns Hopkins University,13,15498,0.24,0.232558,3719.52,3604.186047

### Best university: (b) ratio of international students

In [53]:
thedu_intl = data_thedu.sort_values('stats_intl_students_ratio', ascending=False)

#### Top 5 by ratio of international students

In [54]:
thedu_intl.head()

,location,name,rank,stats_number_students,stats_intl_students_ratio,stats_staff_student_ratio,number_international_students_inferred,number_faculty_members_inferred
24,United Kingdom,London School of Economics and Political Science,=25,10065,0.71,0.081967,7146.15,825.000000
178,Luxembourg,University of Luxembourg,=179,4969,0.57,0.068493,2832.33,340.342466
37,Switzerland,École Polytechnique Fédérale de Lausanne,=38,9928,0.55,0.089286,5460.40,886.428571
7,United Kingdom,Imperial College London,8,15857,0.55,0.087719,8721.35,1390.964912
102,Netherlands,Maastricht University,103,16727,0.50,0.055556,8363.50,929.277778

## 3. Merging the two DataFrames

Task: Merge the two DataFrames created in questions 1 and 2 using university names. Match universities' names as well as you can, and explain your strategy. Keep track of the original position in both rankings.

Solution: for this task we will try to normalize the universities name in both datasets, i.e. try to extract only the useful information from each university name and then try to match only using that information. For that, we first need to understand better our data. As we observed, we have multiple universities names followed by their acronyms in the TU dataset. Let's analyze in a more in-dept manner those cases:

In [231]:
TU_df[TU_df.title.apply(lambda x: True if '(' in x else False)].title

0            Massachusetts Institute of Technology (MIT)
3           California Institute of Technology (Caltech)
6                        UCL (University College London)
10     Nanyang Technological University, Singapore (NTU)
11       Ecole Polytechnique Fédérale de Lausanne (EPFL)
14                National University of Singapore (NUS)
26              University of California, Berkeley (UCB)
32          University of California, Los Angeles (UCLA)
34     London School of Economics and Political Scien...
38            University of California, San Diego (UCSD)
44       The University of New South Wales (UNSW Sydney)
45            The Chinese University of Hong Kong (CUHK)
51                             New York University (NYU)
70     Pohang University of Science And Technology (P...
74                     Universidad de Buenos Aires (UBA)
76                      National Taiwan University (NTU)
107                       Sungkyunkwan University (SKKU)
113                               Universiti Malaya (UM)
121      Universidad Nacional Autónoma de México  (UNAM)
130              Université Pierre et Marie Curie (UPMC)
133       University of California, Santa Barbara (UCSB)
137        Pontificia Universidad Católica de Chile (UC)
143            Technische Universität Berlin (TU Berlin)
152               Université catholique de Louvain (UCL)
171          Indian Institute of Technology Delhi (IITD)
178         Indian Institute of Technology Bombay (IITB)
181                     Vrije Universiteit Brussel (VUB)
182          Universidade Estadual de Campinas (Unicamp)
189         Indian Institute of Science (IISc) Bangalore
Name: title, dtype: object

It can be seen that, besides one name, all the ones that contain a parantheses keep the acronym of the university appended to the name. It is not the case of UCL, where in fact the full name is in parantheses, while the acronym is outside. We will have to handle this case.

Also, one really important thing to notice is that some universities have their name stated in the native language in one ranking, while in the other one is in English. This is the case, for example, of **Technical University of Berlin**, as named in the THE tanking, which in is named **Technische Universität Berlin (TU Berlin)** in the TU ranking. Therefore, one more thing we should handle should be language differences. The solution for that would be to translate every university name in English language, using an API which makes requests to Google Translate servers. In that manner, all names will be expressed in the same language.

Another issue is that some names have some additional not-so-meaningful words in their structure, as *of* or *the*. An example of this is **The university of Hong Kong**, as per TU ranking, and **University of Hong Kong**, as expressed in THE ranking. This problem will be solved by eliminating the unncecessary words and punctuation signs.

Last issue concerned is the words order. We might have universities that appear in both rankings, but with different order of words, or even the different order might be injected by the previous translation. We solve the problem by representing the normalized name as a set of words, so that the order of the words don't matter when similarity is established.

Therefore, the solution for normalizing names is as follows: for **UCL**, transform the name into **University College London**, to keep consistency in the dataset. Then, get rid of the acronym when exists, transform name to lower case and replace punctation marks in name. After that, translate name in English, get rid of the linking words and then split the name into words. Finally, the representation will be consisting of the set of all words resulted from the last operation. The implementation is presented below:

In [147]:
from googletrans import Translator
# googletrans is a library which makes calls to the google translate servers in order to translate words or sentences.

def normalize_university_name(name):
    translator = Translator()
    if name == 'UCL (University College London)':
        name = 'University College London' 
        # UCL is the only university for which the acronym is first and full name in parantheses, solve that problem by hand
    name = name.lower()
    CHARACTERS_REPLACE_BEFORE_TRANSLATE = [' – ', ' - ', '-', ' & ', ', '] # characters which don't contain letters
    CHARACTERS_REPLACE_AFTER_TRANSLATE = [' and ', ' in ', ' of ', ' from '] # english words (used after translation)
    
    name = name.replace('’', "'") # replace weird character
    for character_to_replace in CHARACTERS_REPLACE_BEFORE_TRANSLATE:
        name = name.replace(character_to_replace, ' ') 
    
    if '(' in name:
        name = name.rpartition('(')[0] # consider only the string before the last occurence of (, which is the full name of the university
        
    name = translator.translate(name, dest='en').text # transform the name of the university into English text, so that we can compare words
    
    for character_to_replace in CHARACTERS_REPLACE_AFTER_TRANSLATE:
        name = name.replace(character_to_replace, ' ') 
    
    name = name.lower() # needed again, Google translate might be a "good" hero and transform everything in big letters 
    words = name.strip().split() # split the university name in words
    return set(words) # return the words representing university name as a set, for unordered checking

After we found a good way of normalizing the names, we must use it for establishing the link between universities using the names in the two dataset. For that, we will consider, for each university in the TU dataset, all of the universities from THE dataset that are from the same country (FIRST thing to check should be country, if not from the same country then clearly not same university) and have the property that all the words in one representation are present in the other representation. For example, we will want that **Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento** is matched by **Scuola Superiore Sant’Anna**, which is possible by using this condition. Furthermore, from all the matching universities, we will select the one that has the most common words with the current university.

In [233]:
def delete_entry_by_university_name(university_name, universities_normalized):
    for index, pair in enumerate(universities_normalized):
        if pair[1] == university_name:
            del universities_normalized[index]
            return
        
def pair_universities():
    THE_universities_normalized = []
    for university_data in data_thedu[['name', 'location']].itertuples():
        THE_universities_normalized.append((normalize_university_name(university_data.name), university_data.name, university_data.location))
        # keep tuples of the form (normalized_name, name, location)

    paired = []
    unpaired = []

    for university_data in TU_df[['title', 'country']].itertuples():
        normalized_university = normalize_university_name(university_data.title)
        country_university = university_data.country

        best_words_match_number = -1 # initially, we set the biggest number of matches to -1
        best_match_university = None # initially, the best match university is None

        for THE_normalized_university, THE_university, THE_country in THE_universities_normalized:
            if THE_country.lower() != country_university.lower():
                continue # if not from the same country, then it's not a match

            if normalized_university.issubset(THE_normalized_university) or THE_normalized_university.issubset(normalized_university):
                words_intersection = normalized_university.intersection(THE_normalized_university)

                if len(words_intersection) > best_words_match_number:
                    best_words_match_number = len(words_intersection)
                    best_match_university = THE_university

        if best_match_university is not None: # we found match
            paired.append((university_data.title, best_match_university))
            delete_entry_by_university_name(best_match_university, THE_universities_normalized) # delete matched university from the list

        else:
            unpaired.append((university_data.title, university_data.country))

    THE_unpaired = [(pair[1], pair[2]) for pair in THE_universities_normalized]

    return paired, unpaired, THE_unpaired

In [234]:
paired, TU_unpaired, THE_unpaired = pair_universities() # Code for pairing universities

Next, we want to make sure we did not insert some inconsistencies. We will print every pair and will actually inspect it for mistakes. The reviewer should understand that printing all the values is a necessity in this case:

In [201]:
TU_pair = pd.Series([element[0] for element in paired])
THE_pair = pd.Series([element[1] for element in paired])

paired_dataframe = pd.DataFrame({'TU' : TU_pair, 'THE' : THE_pair})
paired_dataframe

,THE,TU
0,Massachusetts Institute of Technology,Massachusetts Institute of Technology (MIT)
1,Stanford University,Stanford University
2,Harvard University,Harvard University
3,California Institute of Technology,California Institute of Technology (Caltech)
4,University of Cambridge,University of Cambridge
5,University of Oxford,University of Oxford
6,University College London,University College London
7,Imperial College London,Imperial College London
8,University of Chicago,University of Chicago
9,ETH Zurich – Swiss Federal Institute of Techno...,ETH Zurich - Swiss Federal Institute of Techno...
10,"Nanyang Technological University, Singapore","Nanyang Technological University, Singapore (NTU)"
11,École Polytechnique Fédérale de Lausanne,Ecole Polytechnique Fédérale de Lausanne (EPFL)
12,Princeton University,Princeton University
13,Cornell University,Cornell University
14,National University of Singapore,National University of Singapore (NUS)
15,Yale University,Yale University
16,Johns Hopkins University,Johns Hopkins University
17,Columbia University,Columbia University
18,University of Pennsylvania,University of Pennsylvania
19,Australian National University,The Australian National University
20,University of Michigan,University of Michigan
21,Duke University,Duke University
22,University of Edinburgh,The University of Edinburgh
23,King’s College London,King's College London
24,Tsinghua University,Tsinghua University
25,University of Hong Kong,The University of Hong Kong
26,"University of California, Berkeley","University of California, Berkeley (UCB)"
27,University of Tokyo,The University of Tokyo
28,Northwestern University,Northwestern University
29,Hong Kong University of Science and Technology,The Hong Kong University of Science and Techno...
30,University of Toronto,University of Toronto
31,McGill University,McGill University
32,"University of California, Los Angeles","University of California, Los Angeles (UCLA)"
33,University of Manchester,The University of Manchester
34,London School of Economics and Political Science,London School of Economics and Political Scien...
35,Kyoto University,Kyoto University
36,Seoul National University,Seoul National University
37,Peking University,Peking University
38,"University of California, San Diego","University of California, San Diego (UCSD)"
39,Fudan University,Fudan University
40,Korea Advanced Institute of Science and Techno...,KAIST - Korea Advanced Institute of Science & ...
41,University of Melbourne,The University of Melbourne
42,University of Bristol,University of Bristol
43,University of New South Wales,The University of New South Wales (UNSW Sydney)
44,Chinese University of Hong Kong,The Chinese University of Hong Kong (CUHK)
45,University of Queensland,The University of Queensland
46,Carnegie Mellon University,Carnegie Mellon University
47,City University of Hong Kong,City University of Hong Kong
48,University of Sydney,The University of Sydney
49,University of British Columbia,University of British Columbia
50,New York University,New York University (NYU)
51,Brown University,Brown University
52,Delft University of Technology,Delft University of Technology
53,University of Wisconsin-Madison,University of Wisconsin-Madison
54,University of Warwick,The University of Warwick
55,University of Amsterdam,University of Amsterdam
56,École Polytechnique,Ecole Polytechnique
57,Monash University,Monash University
58,University of Washington,University of Washington
59,Shanghai Jiao Tong University,Shanghai Jiao Tong University
60,Technical University of Munich,Technical University of Munich
61,University of Glasgow,University of Glasgow
62,University of Texas at Austin,University of Texas at Austin
63,Heidelberg University,Ruprecht-Karls-Universität Heidelberg
64,University of Illinois at Urbana-Champaign,University of Illinois at Urbana-Champaign
65,Georgia Institute of Technology,Georgia Institute of Technology
66,Pohang University of Science and Technology,Pohang University of Science And Technology (P...
67,KU Leuven,KU Leuven
68,University of Copenhagen,University of Copenhagen
69,University of Zurich,University of Zurich
70,National Taiwan University,National Taiwan University (NTU)
71,Durham University,Durham University
72,Lund University,Lund University
73,University of North Carolina at Chapel Hill,"University of North Carolina, Chapel Hill"
74,Boston University,Boston University
75,University of Auckland,The University of Auckland
76,University of Sheffield,The University of Sheffield
77,University of Birmingham,University of Birmingham
78,University of Nottingham,The University of Nottingham
79,Ohio State University,The Ohio State University
80,Zhejiang University,Zhejiang University
81,Trinity College Dublin,"Trinity College Dublin, The University of Dublin"
82,Rice University,Rice University
83,University of Alberta,University of Alberta
84,University of St Andrews,University of St Andrews
85,University of Western Australia,The University of Western Australia
86,Pennsylvania State University,Pennsylvania State University
87,Hong Kong Polytechnic University,The Hong Kong Polytechnic University
88,University of Science and Technology of China,University of Science and Technology of China
89,University of Geneva,University of Geneva
90,KTH Royal Institute of Technology,KTH Royal Institute of Technology
91,University of Leeds,University of Leeds
92,University of Southampton,University of Southampton
93,University of Helsinki,University of Helsinki
94,Eindhoven University of Technology,Eindhoven University of Technology
95,Purdue University,Purdue University
96,Karlsruhe Institute of Technology,"KIT, Karlsruhe Institute of Technology"
97,Sungkyunkwan University (SKKU),Sungkyunkwan University (SKKU)
98,Utrecht University,Utrecht University
99,Leiden University,Leiden University
100,University of Adelaide,The University of Adelaide
101,Uppsala University,Uppsala University
102,University of Groningen,University of Groningen
103,Nanjing University,Nanjing University
104,Technical University of Denmark,Technical University of Denmark
105,"University of California, Davis","University of California, Davis"
106,Aarhus University,Aarhus University
107,Humboldt University of Berlin,Humboldt-Universität zu Berlin
108,Wageningen University & Research,Wageningen University
109,Free University of Berlin,Freie Universitaet Berlin
110,Ghent University,Ghent University
111,Queen Mary University of London,Queen Mary University of London
112,"University of Maryland, College Park","University of Maryland, College Park"
113,University of Montreal,Université de Montréal
114,Pierre and Marie Curie University,Université Pierre et Marie Curie (UPMC)
115,University of Southern California,University of Southern California
116,"University of California, Santa Barbara","University of California, Santa Barbara (UCSB)"
117,Lancaster University,Lancaster University
118,University of York,University of York
119,Cardiff University,Cardiff University
120,Aalto University,Aalto University
121,McMaster University,McMaster University
122,RWTH Aachen University,RWTH Aachen University
123,University of Pittsburgh,University of Pittsburgh
124,University of Oslo,University of Oslo
125,Technical University of Berlin,Technische Universität Berlin (TU Berlin)
126,University of Lausanne,University of Lausanne
127,Erasmus University Rotterdam,Erasmus University Rotterdam
128,Emory University,Emory University
129,University of Basel,University of Basel
130,Michigan State University,Michigan State University
131,Université Catholique de Louvain,Université catholique de Louvain (UCL)
132,University of Vienna,University of Vienna
133,Autonomous University of Barcelona,Universitat de Barcelona
134,École Normale Supérieure de Lyon,École Normale Supérieure de Lyon
135,University of Aberdeen,University of Aberdeen
136,University of Exeter,The University of Exeter
137,Newcastle University,Newcastle University
138,University of Minnesota,University of Minnesota
139,"University of California, Irvine","University of California, Irvine"
140,University of Tübingen,Eberhard Karls Universität Tübingen
141,University of Bern,University of Bern
142,Dartmouth College,Dartmouth College
143,University of Liverpool,University of Liverpool
144,University of Virginia,University of Virginia
145,University of Florida,University of Florida
146,University of Twente,University of Twente
147,University of Göttingen,University of Göttingen
148,Université Libre de Bruxelles,Vrije Universiteit Brussel (VUB)
149,University of Colorado Boulder,University of Colorado Boulder
150,University of Rochester,University of Rochester
151,University of Cape Town,University of Cape Town
152,Scuola Normale Superiore di Pisa,Scuola Normale Superiore di Pisa
153,Scuola Superiore Sant’Anna,Scuola Superiore Sant'Anna Pisa di Studi Unive...
154,Stockholm University,Stockholm University
155,Texas A&M University,Texas A&M University
156,Maastricht University,Maastricht University

Our analysis lead to discovering two bad pairings: (***Universitat de Barcelona***, ***Autonomous University of Barcelona***) and ***Vrije Universiteit Brussel (VUB)***, ***Université Libre de Bruxelles***). We will have to delete these two pairs from the list. Now, let's inspect the unpaired university names, indexed by country, as below:

In [236]:
TU_unpaired_name = pd.Series([element[0] for element in TU_unpaired])
TU_unpaired_country = pd.Series([element[1] for element in TU_unpaired])

TU_unpaired_dataframe = pd.DataFrame({'name' : TU_unpaired_name, 'country' : TU_unpaired_country})
TU_unpaired_dataframe['source'] = 'TU'

TU_unpaired_dataframe = TU_unpaired_dataframe.set_index(['country', 'source']).sort_index()

TU_unpaired_dataframe.head()

                                                         name
country   source
Argentina TU                Universidad de Buenos Aires (UBA)
Australia TU                  University of Technology Sydney
Austria   TU                  Vienna University of Technology
Brazil    TU                        Universidade de São Paulo
          TU      Universidade Estadual de Campinas (Unicamp)

Now for THE dataset, the unpaired universities are:

In [237]:
THE_unpaired_name = pd.Series([element[0] for element in THE_unpaired])
THE_unpaired_country = pd.Series([element[1] for element in THE_unpaired])

THE_unpaired_dataframe = pd.DataFrame({'name' : THE_unpaired_name, 'country' : THE_unpaired_country})
THE_unpaired_dataframe['source'] = 'THE'

THE_unpaired_dataframe = THE_unpaired_dataframe.set_index(['country', 'source']).sort_index()

THE_unpaired_dataframe.head()

                                                             name
country source
France  THE     Paris Sciences et Lettres – PSL Research Unive...
        THE                                  Paris-Sud University
        THE                   Paris-Sorbonne University – Paris 4
Germany THE                                            LMU Munich
        THE                                University of Freiburg

Finally, we will merge the two datasets and index it by country. Afterwards, we can look for the universities in the same country, for pairs between THE and TU. Let's take a look:

In [238]:
merged_unpaired_dataframe = pd.concat([TU_unpaired_dataframe, THE_unpaired_dataframe]).sort_index()
merged_unpaired_dataframe

                                                                        name
country            source
Argentina          TU                      Universidad de Buenos Aires (UBA)
Australia          TU                        University of Technology Sydney
Austria            TU                        Vienna University of Technology
Brazil             TU                              Universidade de São Paulo
                   TU            Universidade Estadual de Campinas (Unicamp)
Canada             TU                                 University of Waterloo
Chile              TU          Pontificia Universidad Católica de Chile (UC)
                   TU                                   Universidad de Chile
France             THE     Paris Sciences et Lettres – PSL Research Unive...
                   THE                                  Paris-Sud University
                   THE                   Paris-Sorbonne University – Paris 4
                   TU                        Ecole normale supérieure, Paris
                   TU                                        CentraleSupélec
Germany            THE                                            LMU Munich
                   THE                                University of Freiburg
                   THE                                    University of Bonn
                   THE                                University of Mannheim
                   THE                  Charité - Universitätsmedizin Berlin
                   THE                                 University of Cologne
                   THE                                            TU Dresden
                   THE                                        Ulm University
                   THE                      University of Erlangen-Nuremberg
                   THE                                University of Würzburg
                   THE                                 University of Münster
                   TU                 Ludwig-Maximilians-Universität München
                   TU                   Albert-Ludwigs-Universitaet Freiburg
India              TU            Indian Institute of Technology Delhi (IITD)
                   TU           Indian Institute of Technology Bombay (IITB)
                   TU           Indian Institute of Science (IISc) Bangalore
Ireland            TU                              University College Dublin
Israel             TU                     The Hebrew University of Jerusalem
Italy              TU                                  Politecnico di Milano
                   TU           Alma Mater Studiorum - University of Bologna
Japan              TU                          Tokyo Institute of Technology
                   TU                                       Osaka University
                   TU                                      Tohoku University
                   TU                                      Nagoya University
                   TU                                    Hokkaido University
                   TU                                      Kyushu University
                   TU                               Keio University CEMS MIM
Luxembourg         THE                              University of Luxembourg
Malaysia           TU                                 Universiti Malaya (UM)
Mexico             TU        Universidad Nacional Autónoma de México  (UNAM)
                   TU      Instituto Tecnológico y de Estudios Superiores...
Netherlands        THE                           Radboud University Nijmegen
                   THE                          Vrije Universiteit Amsterdam
                   THE                                    Tilburg University
New Zealand        TU                                    University of Otago
Norway             TU                                   University of Bergen
Russia             TU                      Lomonosov Moscow State University
Russian Federation THE                     Lomonosov Moscow State University
Saudi Arabia       TU           King Fahd University of Petroleum & Minerals
South Korea        TU                                       Korea University
                   TU                                      Yonsei University
                   TU                                     Hanyang University
Spain              THE                               Pompeu Fabra University
                   TU                         Universidad Autónoma de Madrid
                   TU                      Universitat Autònoma de Barcelona
Sweden             THE                                  Karolinska Institute
                   THE                              University of Gothenburg
                   TU                      Chalmers University of Technology
Taiwan             TU                          National Tsing Hua University
United Kingdom     THE                                  University of Sussex
                   THE                               University of Leicester
                   THE                                  University of Dundee
                   THE                             University of East Anglia
                   THE                  Royal Holloway, University of London
                   TU                                     University of Bath
                   TU                                  University of Reading
United States      THE                     Washington University in St Louis
                   THE                                 Vanderbilt University
                   THE                                    Indiana University
                   THE                                 Georgetown University
                   THE                              Arizona State University
                   THE                              University of Notre Dame
                   THE                       Case Western Reserve University
                   THE                                 University of Arizona
                   THE                  University of California, Santa Cruz
                   THE                   University of Alabama at Birmingham
                   THE                                      Tufts University
                   THE           Rutgers, the State University of New Jersey
                   THE                                   University of Miami
                   THE                           University of Massachusetts
                   THE                               Northeastern University
                   THE                   University of California, Riverside
                   TU                     Washington University in St. Louis

We can see that most of the universities are unrelated, but some of them were not detected as matching, even though they are in reality. Several are really hard to detect even by humans, without some extra information that could be found by using Google. A good example for that is ***Albert-Ludwigs-Universitaet Freiburg***, which appears in THE dataset as ***University of Freiburg***, and only a Google search, a local or an expert in universities could detect that this is actually the same university. All of the found matches could be seen below, where we finalize the list of matching universities:

In [205]:
paired.remove(('Universitat de Barcelona' ,'Autonomous University of Barcelona'))
paired.remove(('Vrije Universiteit Brussel (VUB)', 'Université Libre de Bruxelles'))

paired.append(('Ludwig-Maximilians-Universität München', 'LMU Munich'))
paired.append(('Albert-Ludwigs-Universitaet Freiburg', 'University of Freiburg'))
paired.append(('Lomonosov Moscow State University', 'Lomonosov Moscow State University'))
paired.append(('Universitat Autònoma de Barcelona', 'Autonomous University of Barcelona'))
paired.append(('Washington University in St. Louis', 'Washington University in St Louis'))

len(paired)

160

Finally, we merge the two datasets, keeping the information only for the universities that appear in the both datasets. For that, we will keep the name of the university as it appears in TU ranking.

In [216]:
THE_names_to_TU_names = {key:value for value, key in paired} 
# dictionary which maps the universities names from THE ranking to the universities names from TU ranking, for all universities
# that appear in both rankings

THE_df = data_thedu.copy()

THE_df['name'] = THE_df['name'].apply(lambda x: THE_names_to_TU_names[x] if x in THE_names_to_TU_names else x)
# transforms the name of the universities that also appeat in TU ranking in their equivalent from TU
THE_df.rename(columns={'name':'title', 'rank':'rank_display', 'stats_number_students':'Total students', 
                      'stats_intl_students_ratio':'Ratio intl/total students', 
                      'stats_staff_student_ratio':'Ratio faculty/students',
                      'number_international_students_inferred':'International students',
                      'number_faculty_members_inferred':'Total faculty members'}, inplace=True)

merged_df = TU_df.merge(THE_df, on='title', how='inner', suffixes=('_TU', '_THE'))
merged_df

,country,rank_display_TU,region,score,title,Total faculty members_TU,Total students_TU,International faculty members,International students_TU,Ratio faculty/students_TU,Ratio intl/total students_TU,location,rank_display_THE,Total students_THE,Ratio intl/total students_THE,Ratio faculty/students_THE,International students_THE,Total faculty members_THE
0,United States,1,North America,100,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0,0.269450,0.335863,United States,5,11177,0.34,0.114943,3800.18,1284.712644
1,United States,2,North America,98.7,Stanford University,4285.0,15878.0,2042.0,3611.0,0.269870,0.227422,United States,=3,15845,0.22,0.133333,3485.90,2112.666667
2,United States,3,North America,98.4,Harvard University,4350.0,22429.0,1311.0,5266.0,0.193945,0.234785,United States,6,20326,0.26,0.112360,5284.76,2283.820225
3,United States,4,North America,97.7,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,0.422616,0.286918,United States,=3,2209,0.27,0.153846,596.43,339.846154
4,United Kingdom,5,Europe,95.6,University of Cambridge,5490.0,18770.0,2278.0,6699.0,0.292488,0.356899,United Kingdom,2,18389,0.35,0.091743,6436.15,1687.064220
5,United Kingdom,6,Europe,95.3,University of Oxford,6750.0,19720.0,2964.0,7353.0,0.342292,0.372870,United Kingdom,1,20409,0.38,0.089286,7755.42,1822.232143
6,United Kingdom,7,Europe,94.6,University College London,6345.0,31080.0,2554.0,14854.0,0.204151,0.477928,United Kingdom,16,30304,0.49,0.095238,14848.96,2886.095238
7,United Kingdom,8,Europe,93.7,Imperial College London,3930.0,16090.0,2071.0,8746.0,0.244251,0.543567,United Kingdom,8,15857,0.55,0.087719,8721.35,1390.964912
8,United States,9,North America,93.5,University of Chicago,2449.0,13557.0,635.0,3379.0,0.180645,0.249244,United States,9,13525,0.25,0.161290,3381.25,2181.451613
9,Switzerland,10,Europe,93.3,ETH Zurich - Swiss Federal Institute of Techno...,2477.0,19815.0,1886.0,7563.0,0.125006,0.381681,Switzerland,=10,19233,0.38,0.068493,7308.54,1317.328767
10,Singapore,11,Asia,92.2,"Nanyang Technological University, Singapore (NTU)",4338.0,25738.0,2993.0,7251.0,0.168545,0.281724,Singapore,52,25499,0.31,0.061350,7904.69,1564.355828
11,Switzerland,12,Europe,91.2,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695.0,10343.0,1300.0,5896.0,0.163879,0.570047,Switzerland,=38,9928,0.55,0.089286,5460.40,886.428571
12,United States,13,North America,91,Princeton University,1007.0,8069.0,246.0,1793.0,0.124799,0.222208,United States,7,7955,0.24,0.120482,1909.20,958.433735
13,United States,14,North America,90.7,Cornell University,2718.0,21904.0,970.0,5411.0,0.124087,0.247033,United States,19,21850,0.24,0.102041,5244.00,2229.591837
14,Singapore,15,Asia,90.5,National University of Singapore (NUS),5106.0,32728.0,3086.0,8917.0,0.156013,0.272458,Singapore,=22,30602,0.30,0.058824,9180.60,1800.117647
15,United States,16,North America,90.4,Yale University,4940.0,12402.0,1708.0,2469.0,0.398323,0.199081,United States,12,12155,0.21,0.232558,2552.55,2826.744186
16,United States,17,North America,89.8,Johns Hopkins University,4462.0,16146.0,1061.0,4105.0,0.276353,0.254243,United States,13,15498,0.24,0.232558,3719.52,3604.186047
17,United States,18,North America,88.9,Columbia University,6189.0,25045.0,913.0,8105.0,0.247115,0.323617,United States,14,26587,0.32,0.163934,8507.84,4358.524590
18,United States,19,North America,88.7,University of Pennsylvania,5499.0,20639.0,1383.0,4250.0,0.266437,0.205921,United States,=10,20361,0.20,0.153846,4072.20,3132.461538
19,Australia,20,Oceania,87.1,The Australian National University,1600.0,14442.0,927.0,5551.0,0.110788,0.384365,Australia,48,15986,0.35,0.051813,5595.10,828.290155
20,United States,=21,North America,87,University of Michigan,6809.0,43147.0,1920.0,7527.0,0.157809,0.174450,United States,21,41818,0.16,0.116279,6690.88,4862.558140
21,United States,=21,North America,87,Duke University,2938.0,15320.0,226.0,2864.0,0.191775,0.186945,United States,17,15256,0.22,0.222222,3356.32,3390.222222
22,United Kingdom,=23,Europe,86.9,The University of Edinburgh,4075.0,28040.0,1553.0,10551.0,0.145328,0.376284,United Kingdom,=27,26759,0.40,0.080000,10703.60,2140.720000
23,United Kingdom,=23,Europe,86.9,King's College London,3650.0,23780.0,1513.0,9451.0,0.153490,0.397435,United Kingdom,36,23207,0.41,0.083333,9514.87,1933.916667
24,China,25,Asia,85.6,Tsinghua University,5506.0,36300.0,932.0,4072.0,0.151680,0.112176,China,30,42089,0.09,0.072993,3788.01,3072.189781
25,Hong Kong,26,Asia,85.5,The University of Hong Kong,3012.0,20214.0,2085.0,8230.0,0.149006,0.407144,Hong Kong,40,18364,0.42,0.055556,7712.88,1020.222222
26,United States,27,North America,84.9,"University of California, Berkeley (UCB)",3321.0,36703.0,1395.0,6086.0,0.090483,0.165818,United States,18,36182,0.17,0.076336,6150.94,2761.984733
27,Japan,=28,Asia,84.8,The University of Tokyo,4514.0,27279.0,254.0,2639.0,0.165475,0.096741,Japan,46,26000,0.10,0.149254,2600.00,3880.597015
28,United States,=28,North America,84.8,Northwestern University,4231.0,18675.0,1141.0,3422.0,0.226560,0.183240,United States,20,17466,0.18,0.078125,3143.88,1364.531250
29,Hong Kong,30,Asia,84.3,The Hong Kong University of Science and Techno...,1150.0,10375.0,835.0,2921.0,0.110843,0.281542,Hong Kong,44,10214,0.31,0.043290,3166.34,442.164502
30,Canada,31,North America,84,University of Toronto,9581.0,72207.0,3905.0,21910.0,0.132688,0.303433,Canada,=22,69427,0.17,0.053476,11802.59,3712.673797
31,Canada,32,North America,83.9,McGill University,3646.0,28837.0,1220.0,9540.0,0.126435,0.330825,Canada,42,30940,0.26,0.075188,8044.40,2326.315789
32,United States,33,North America,83.6,"University of California, Los Angeles (UCLA)",2859.0,40114.0,662.0,6887.0,0.071272,0.171686,United States,15,39279,0.17,0.104167,6677.43,4091.562500
33,United Kingdom,34,Europe,83,The University of Manchester,4910.0,36670.0,1653.0,13514.0,0.133897,0.368530,United Kingdom,=54,35318,0.38,0.068493,13420.84,2419.041096
34,United Kingdom,35,Europe,81.8,London School of Economics and Political Scien...,1088.0,9760.0,687.0,6748.0,0.111475,0.691393,United Kingdom,=25,10065,0.71,0.081967,7146.15,825.000000
35,Japan,=36,Asia,81.5,Kyoto University,4060.0,22974.0,293.0,1990.0,0.176722,0.086620,Japan,=74,22481,0.08,0.114943,1798.48,2584.022989
36,South Korea,=36,Asia,81.5,Seoul National University,3930.0,28064.0,433.0,2331.0,0.140037,0.083060,South Korea,=74,26470,0.11,0.079365,2911.70,2100.793651
37,China,=38,Asia,80.8,Peking University,5185.0,42136.0,1038.0,7090.0,0.123054,0.168265,China,=27,42136,0.16,0.112360,6741.76,4734.382022
38,United States,=38,North America,80.8,"University of California, San Diego (UCSD)",3694.0,32237.0,870.0,6644.0,0.114589,0.206099,United States,31,29633,0.17,0.078125,5037.61,2315.078125
39,China,40,Asia,80.6,Fudan University,4037.0,29135.0,1178.0,4680.0,0.138562,0.160632,China,116,32859,0.10,0.082645,3285.90,2715.619835
40,South Korea,=41,Asia,80.4,KAIST - Korea Advanced Institute of Science & ...,1250.0,9826.0,147.0,584.0,0.127214,0.059434,South Korea,=95,9464,0.09,0.094340,851.76,892.830189
41,Australia,=41,Oceania,80.4,The University of Melbourne,3311.0,42182.0,1477.0,18030.0,0.078493,0.427434,Australia,32,42116,0.40,0.037594,16846.40,1583.308271
42,United Kingdom,44,Europe,79.5,University of Bristol,2870.0,20630.0,942.0,5099.0,0.139118,0.247164,United Kingdom,76,19995,0.27,0.072993,5398.65,1459.489051
43,Australia,45,Oceania,78.9,The University of New South Wales (UNSW Sydney),2924.0,39784.0,1612.0,14292.0,0.073497,0.359240,Australia,85,40133,0.34,0.037453,13645.22,1503.108614
44,Hong Kong,46,Asia,78.8,The Chinese University of Hong Kong (CUHK),2208.0,18037.0,1074.0,4824.0,0.122415,0.267450,Hong Kong,58,18072,0.31,0.057803,5602.32,1044.624277
45,Australia,=47,Oceania,78.6,The University of Queensland,3158.0,37497.0,1870.0,10420.0,0.084220,0.277889,Australia,65,38968,0.26,0.028011,10131.68,1091.540616
46,United States,=47,North America,78.6,Carnegie Mellon University,1342.0,13356.0,425.0,6385.0,0.100479,0.478062,United States,24,12676,0.45,0.074074,5704.20,938.962963
47,Hong Kong,49,Asia,78.4,City University of Hong Kong,1349.0,9240.0,1027.0,3273.0,0.145996,0.354221,Hong Kong,=119,9240,0.35,0.089286,3234.00,825.000000
48,Australia,50,Oceania,78,The University of Sydney,3360.0,46678.0,1829.0,17030.0,0.071983,0.364840,Australia,61,44553,0.32,0.046296,14256.96,2062.638889
49,Canada,51,North America,77.9,University of British Columbia,4648.0,50350.0,1635.0,11388.0,0.092314,0.226177,Canada,=34,51889,0.29,0.055249,15047.81,2866.795580
50,United States,52,North America,77.3,New York University (NYU),7861.0,58419.0,619.0,15189.0,0.134562,0.260001,United States,=27,43860,0.26,0.104167,11403.60,4568.750000
51,United States,53,North America,76.5,Brown University,1303.0,9251.0,379.0,1825.0,0.140850,0.197276,United States,=50,8898,0.20,0.093458,1779.60,831.588785
52,Netherlands,54,Europe,76.1,Delft University of Technology,1669.0,16527.0,701.0,4634.0,0.100986,0.280390,Netherlands,63,17057,0.27,0.051020,4605.39,870.255102
53,United States,55,North America,75.8,University of Wisconsin-Madison,5722.0,38985.0,1151.0,4920.0,0.146774,0.126202,United States,43,38960,0.12,0.093458,4675.20,3641.121495
54,United Kingdom,57,Europe,74.4,The University of Warwick,2093.0,19855.0,890.0,7703.0,0.105414,0.387963,United Kingdom,91,18424,0.39,0.076923,7185.36,1417.230769
55,Netherlands,58,Europe,74.3,University of Amsterdam,2600.0,25967.0,707.0,3785.0,0.100127,0.145762,Netherlands,59,23495,0.12,0.081301,2819.40,1910.162602
56,France,59,Europe,74,Ecole Polytechnique,649.0,3126.0,259.0,924.0,0.207614,0.295585,France,115,2799,0.36,0.196078,1007.64,548.823529
57,Australia,60,Oceania,73.1,Monash University,3204.0,57433.0,1679.0,20578.0,0.055787,0.358296,Australia,=80,46846,0.28,0.029674,13116.88,1390.089021
58,United States,61,North America,72.9,University of Washington,2484.0,56973.0,550.0,8373.0,0.043600,0.146964,United States,=25,44945,0.16,0.087719,7191.20,3942.543860
59,China,62,Asia,72.5,Shanghai Jiao Tong University,3544.0,38931.0,887.0,2858.0,0.091033,0.073412,China,=188,37288,0.06,0.080645,2237.28,3007.096774
60,Germany,64,Europe,72,Technical University of Munich,5850.0,38726.0,1174.0,6181.0,0.151061,0.159609,Germany,41,38689,0.23,0.018382,8898.47,711.194853
61,United Kingdom,65,Europe,71.6,University of Glasgow,2775.0,23815.0,956.0,8149.0,0.116523,0.342179,United Kingdom,=80,23389,0.36,0.064935,8420.04,1518.766234
62,Germany,66,Europe,70.8,Ludwig-Maximilians-Universität München,3274.0,35055.0,674.0,5084.0,0.093396,0.145029,Germany,=34,36091,0.15,0.064103,5413.65,2313.525641
63,United States,67,North America,70.6,University of Texas at Austin,2833.0,47995.0,108.0,4744.0,0.059027,0.098844,United States,49,48561,0.10,0.058480,4856.10,2839.824561
64,Germany,68,Europe,70.4,Ruprecht-Karls-Universität Heidelberg,3908.0,28852.0,756.0,5298.0,0.135450,0.183627,Germany,45,28876,0.17,0.043103,4908.92,1244.655172
65,United States,69,North America,70.3,University of Illinois at Urbana-Champaign,2554.0,42427.0,259.0,9483.0,0.060198,0.223513,United States,37,43402,0.23,0.043860,9982.46,1903.596491
66,United States,70,North America,70.1,Georgia Institute of Technology,1133.0,21082.0,75.0,4761.0,0.053743,0.225832,United States,33,20773,0.27,0.048309,5608.71,1003.526570
67,South Korea,=71,Asia,69.4,Pohang University of Science And Technology (P...,664.0,3117.0,113.0,126.0,0.213025,0.040423,South Korea,=137,3046,0.04,0.096154,121.84,292.884615
68,Belgium,=71,Europe,69.4,KU Leuven,2515.0,45538.0,784.0,6926.0,0.055229,0.152093,Belgium,47,44412,0.15,0.026954,6661.80,1197.088949
69,Denmark,=73,Europe,69.2,University of Copenhagen,7483.0,32119.0,2336.0,3683.0,0.232977,0.114667,Denmark,=109,30395,0.14,0.243902,4255.30,7413.414634
70,Switzerland,=73,Europe,69.2,University of Zurich,4997.0,26065.0,2617.0,5036.0,0.191713,0.193209,Switzerland,136,26363,0.20,0.169492,5272.60,4468.305085
71,Taiwan,=76,Asia,69,National Taiwan University (NTU),2807.0,32195.0,220.0,3152.0,0.087187,0.097903,Taiwan,=198,31758,0.08,0.086957,2540.64,2761.565217
72,United Kingdom,=78,Europe,68.5,Durham University,1539.0,16745.0,586.0,4690.0,0.091908,0.280084,United Kingdom,97,16310,0.29,0.067114,4729.90,1094.630872
73,Sweden,=78,Europe,68.5,Lund University,3031.0,27786.0,1002.0,6408.0,0.109084,0.230620,Sweden,93,28663,0.16,0.082645,4586.08,2368.842975
74,United States,80,North America,67.8,"University of North Carolina, Chapel Hill",4083.0,25373.0,524.0,1934.0,0.160919,0.076223,United States,=56,34684,0.08,0.103093,2774.72,3575.670103
75,United States,81,North America,67.2,Boston University,3157.0,25662.0,379.0,7041.0,0.123022,0.274375,United States,=70,24833,0.25,0.116279,6208.25,2887.558140
76,New Zealand,=82,Oceania,67,The University of Auckland,2047.0,29641.0,645.0,8568.0,0.069060,0.289059,New Zealand,192,30348,0.29,0.053191,8800.92,1614.255319
77,United Kingdom,=82,Europe,67,The University of Sheffield,3065.0,25430.0,938.0,8745.0,0.120527,0.343885,United Kingdom,104,24581,0.36,0.067114,8849.16,1649.731544
78,United Kingdom,=84,Europe,66.8,University of Birmingham,2962.0,28660.0,1028.0,7795.0,0.103350,0.271982,United Kingdom,=141,27061,0.27,0.066667,7306.47,1804.066667
79,United Kingdom,=84,Europe,66.8,The University of Nottingham,3360.0,29165.0,1135.0,7993.0,0.115207,0.274061,United Kingdom,=147,29176,0.30,0.071429,8752.80,2084.000000
80,United States,86,North America,66.1,The Ohio State University,5911.0,43156.0,1696.0,6874.0,0.136968,0.159283,United States,=70,53190,0.13,0.078740,6914.70,4188.188976
81,China,87,Asia,65.9,Zhejiang University,4507.0,40869.0,1913.0,4625.0,0.110279,0.113166,China,=177,50051,0.06,0.070922,3003.06,3549.716312
82,Ireland,88,Europe,65.7,"Trinity College Dublin, The University of Dublin",1249.0,14961.0,544.0,4311.0,0.083484,0.288149,Ireland,=117,16157,0.27,0.043860,4362.39,708.640351
83,United States,89,North America,65.6,Rice University,969.0,6610.0,316.0,1847.0,0.146596,0.279425,United States,=86,6441,0.28,0.111111,1803.48,715.666667
84,Canada,=90,North America,65.5,University of Alberta,3561.0,31765.0,1294.0,8203.0,0.112105,0.258240,Canada,=119,32435,0.26,0.046296,8433.10,1501.620370
85,United Kingdom,92,Europe,65.3,University of St Andrews,1140.0,8800.0,485.0,4030.0,0.129545,0.457955,United Kingdom,=143,9005,0.48,0.076923,4322.40,692.692308
86,Australia,=93,Oceania,65.2,The University of Western Australia,1420.0,18531.0,809.0,4575.0,0.076628,0.246884,Australia,=111,18787,0.25,0.045872,4696.75,861.788991
87,United States,=93,North America,65.2,Pennsylvania State University,3509.0,45612.0,211.0,7081.0,0.076932,0.155244,United States,77,45411,0.14,0.065789,6357.54,2987.565789
88,Russia,=95,Europe,65,Lomonosov Moscow State University,6709.0,30233.0,373.0,5098.0,0.221910,0.168624,Russian Federation,194,29236,0.22,0.136986,6431.92,4004.931507
89,Hong Kong,=95,Asia,65,The Hong Kong Polytechnic University,2447.0,20972.0,1275.0,5251.0,0.116679,0.250381,Hong Kong,=182,21773,0.25,0.037175,5443.25,809.405204
90,China,97,Asia,64.9,University of Science and Technology of China,1992.0,16032.0,155.0,548.0,0.124251,0.034182,China,132,16032,0.03,0.121951,480.96,1955.121951
91,Switzerland,=98,Europe,64.7,University of Geneva,1752.0,15844.0,1029.0,6104.0,0.110578,0.385256,Switzerland,=130,16085,0.40,0.066225,6434.00,1065.231788
92,Sweden,=98,Europe,64.7,KTH Royal Institute of Technology,1500.0,12658.0,494.0,1937.0,0.118502,0.153026,Sweden,=173,12951,0.17,0.062500,2201.67,809.437500
93,United States,100,North America,64.6,Washington University in St. Louis,2699.0,13474.0,784.0,2706.0,0.200312,0.200831,United States,=50,12600,0.17,0.133333,2142.00,1680.000000
94,United Kingdom,101,Europe,64.5,University of Leeds,3025.0,29645.0,870.0,7534.0,0.102041,0.254141,United Kingdom,139,27995,0.26,0.068027,7278.70,1904.421769
95,United Kingdom,=102,Europe,63.9,University of Southampton,2820.0,23775.0,1017.0,7789.0,0.118612,0.327613,United Kingdom,=126,21670,0.33,0.080000,7151.10,1733.600000
96,Finland,=102,Europe,63.9,University of Helsinki,2645.0,22419.0,535.0,1234.0,0.117980,0.055043,Finland,90,22532,0.06,0.061728,1351.92,1390.864198
97,Netherlands,104,Europe,63.6,Eindhoven University of Technology,801.0,7636.0,322.0,1275.0,0.104898,0.166972,Netherlands,=141,7637,0.17,0.053763,1298.29,410.591398
98,United States,105,North America,63.2,Purdue University,3247.0,38143.0,1334.0,8787.0,0.085127,0.230370,United States,60,38770,0.23,0.057471,8917.10,2228.160920
99,Germany,107,Europe,61.9,"KIT, Karlsruhe Institute of Technology",1827.0,26081.0,410.0,4809.0,0.070051,0.184387,Germany,133,25824,0.18,0.038023,4648.32,981.901141
100,South Korea,108,Asia,61.6,Sungkyunkwan University (SKKU),3556.0,23921.0,324.0,2818.0,0.148656,0.117804,South Korea,=111,24055,0.12,0.051020,2886.60,1227.295918
101,Netherlands,=109,Europe,61.5,Utrecht University,3067.0,31754.0,653.0,2771.0,0.096586,0.087265,Netherlands,68,31522,0.07,0.065789,2206.54,2073.815789
102,Netherlands,=109,Europe,61.5,Leiden University,2324.0,26513.0,581.0,3488.0,0.087655,0.131558,Netherlands,67,24825,0.12,0.054945,2979.00,1364.010989
103,Australia,=109,Oceania,61.5,The University of Adelaide,1729.0,21240.0,633.0,8114.0,0.081403,0.382015,Australia,=134,21241,0.26,0.029155,5522.66,619.271137
104,Sweden,112,Europe,61.4,Uppsala University,2567.0,25371.0,584.0,5198.0,0.101179,0.204880,Sweden,=86,25174,0.11,0.057803,2769.14,1455.144509
105,Netherlands,113,Europe,61.3,University of Groningen,3351.0,27549.0,1137.0,10780.0,0.121638,0.391303,Netherlands,=83,26197,0.17,0.041494,4453.49,1087.012448
106,China,=114,Asia,60.8,Nanjing University,2449.0,32495.0,617.0,2960.0,0.075365,0.091091,China,=169,33456,0.10,0.070423,3345.60,2356.056338
107,Denmark,=116,Europe,60.7,Technical University of Denmark,2117.0,8878.0,966.0,2098.0,0.238455,0.236314,Denmark,=153,8548,0.24,0.166667,2051.52,1424.666667
108,United States,118,North America,60.4,"University of California, Davis",3843.0,34244.0,549.0,4529.0,0.112224,0.132257,United States,=54,37365,0.10,0.072464,3736.50,2707.608696
109,Denmark,119,Europe,59.3,Aarhus University,2316.0,26226.0,602.0,3762.0,0.088309,0.143445,Denmark,=109,25167,0.12,0.069930,3020.04,1759.930070
110,Germany,120,Europe,59.2,Humboldt-Universität zu Berlin,1966.0,33198.0,407.0,4805.0,0.059220,0.144738,Germany,62,32172,0.17,0.017699,5469.24,569.415929
111,Netherlands,124,Europe,58.7,Wageningen University,2277.0,12695.0,323.0,3613.0,0.179362,0.284600,Netherlands,64,12326,0.29,0.050761,3574.54,625.685279
112,Germany,=125,Europe,58.4,Freie Universitaet Berlin,1375.0,32912.0,305.0,5735.0,0.041778,0.174253,Germany,88,34114,0.21,0.017544,7163.94,598.491228
113,Belgium,=125,Europe,58.4,Ghent University,2520.0,35968.0,482.0,3766.0,0.070062,0.104704,Belgium,107,35909,0.10,0.027855,3590.90,1000.250696
114,United Kingdom,127,Europe,58.3,Queen Mary University of London,1885.0,16135.0,801.0,6806.0,0.116827,0.421816,United Kingdom,121,15405,0.45,0.075188,6932.25,1158.270677
115,United States,129,North America,58.1,"University of Maryland, College Park",3920.0,35504.0,473.0,4683.0,0.110410,0.131901,United States,69,31772,0.10,0.060606,3177.20,1925.575758
116,Canada,130,North America,57.7,Université de Montréal,2961.0,39112.0,1037.0,9688.0,0.075706,0.247699,Canada,108,41017,0.22,0.045662,9023.74,1872.922374
117,France,131,Europe,57.5,Université Pierre et Marie Curie (UPMC),2273.0,24305.0,253.0,4213.0,0.093520,0.173339,France,=123,25117,0.20,0.081301,5023.40,2042.032520
118,United States,132,North America,57.2,University of Southern California,3124.0,38749.0,551.0,9170.0,0.080621,0.236651,United States,66,38380,0.23,0.078125,8827.40,2998.437500
119,United States,134,North America,56.9,"University of California, Santa Barbara (UCSB)",1449.0,23149.0,267.0,2128.0,0.062594,0.091926,United States,53,23054,0.14,0.035587,3227.56,820.427046
120,United Kingdom,=135,Europe,56.3,Lancaster University,1245.0,12300.0,435.0,4464.0,0.101220,0.362927,United Kingdom,=150,11637,0.38,0.076336,4422.06,888.320611